*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* test */
header{
    font-family: "Oswald", sans-serif;
    display: flex;
    align-items: center;
    margin: 0px 150px 0px 150px;
    position: relative;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
}

.dropdown {
    position: relative;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    max-width: 120px;
    min-width: 100px;
    box-shadow: 0px 8px 16px rgb(0,0,0);
    border-radius: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: rgb(2, 250, 147);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar a,
.navbar b {
  color: rgb(0, 0, 0);
    padding: 10px 5px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    margin-left: 5px;
}

.btnctc{
    font-family: "Oswald", sans-serif;
    width: 150px;
    padding: 10px;
    margin: 10px;
    background-color: #FFC222;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    transition: 5ms ease;
}

.btnctc:hover{
     box-shadow: 0px 0px 16px rgb(0,0,0);
}
.contactbtn{
    margin-left: 80px;
    display: flex;
    align-items: center;

}



.btn1{
    position: relative;
    left: -15px;
    padding: 12px 12px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: linear-gradient( #ff3366 0%, #cc0033 100%);
    border: none;
    border-radius: 9px;
}

.btn1:hover{
    color: #000;
    box-shadow: 5px 5px 10px #ff3366;
}

html body{
  margin: 0px;
  padding: 0px;
  height:  100vh;
}
.sec1{
    height: 100%;
    width: 100%;
    background-image: url(/assets/headerbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.head1{
    position: absolute;
    left: 180px ;
    top: 100px ;
}

.formnumb{
    width: 430px;
    height: 60px;
    border-radius: 7px;
    border: 3px solid #E4E4E4;
}

.formdtm{
    width: 210px;
    height: 60px;
    border-radius: 7px;
    border: 3px solid #E4E4E4;
    margin-top: 10px;
    margin-right: 8px;   
}

.headimg1{
    width: 220px;
    height: 380px;
    border-radius: 150px;
    position: absolute;
    right: 440px;
    top: 60px;

}
.headimg2{
    width: 220px;
    height: 380px;
    border-radius: 150px;
    position: absolute;
    right: 170px;
    top: 200px;

}

/* Section 2 */
.sec2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 30px;
  margin: 100px 170px 0 180px;
  position: relative;
  font-family: Fredoka, sans-serif;
  font-weight: 500;
  
}

.sec2img1{
    position: absolute;
    width: 269px;
    height: 425px;
    border-radius: 170px;
}

.sec2text{
   position: absolute;
    text-align: center;
    left: 300px;
    width: 350px;
    /* border: 1px solid #000; */

}

.img2{
    grid-column: 3/4;
}
.sec2img2{
   border-radius: 170px;
   width: 250px;
   margin-bottom: 70px;
} 
.sec2imgbrd{
    height: 200px;
}
.sec2img3{
    position: absolute;
    border-radius: 50%;
    right: 140px;
    top: 255px;
    height: 150px;
}

/* Section-3 */

.sec3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 30px;
    margin: 100px 170px 0 180px;
    position: relative;
    font-family: Fredoka, sans-serif;
    font-weight: 500;
}

.sec3disc{
    background-color: #FFC222;
    /* border: 1px solid black; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
    box-shadow: inset 0px 0px 4px 4px #000;  
    position: absolute;
    top: 30px;
    
}

/* Section-4 */

.sec4{
    margin: 100px 170px 0 180px;
    font-family: Fredoka, sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;

    
}

/* section 5 */

.sec5{
 background: #F5F8FD;

}
.dsmn{
    margin: 100px 170px 20px 180px;
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-size: 55px;
    font-weight: 700;
    position: relative;
    padding-top: 100px;
}

.dsmn::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 280px;
  height: 7px;
  border-radius: 3px;
  background: #FFD40D;
  transform: translateX(-50%); 
  
}

.sec5h2{
    /* margin: 50px 0px 0px 180px; */
    font-family: "Fredoka", sans-serif;
    font-size: 35px;
    font-weight: 700;
    position: relative;
}

.sec5h2::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 70px;
    height: 7px;
    border-radius: 3px;
    background: #FFD40D;
    left: 0px;
    
}

.sec5menu{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);


}


.s5head{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
    font-family: "Fredoka", sans-serif;
    font-size: 20px;
    font-weight: 700;
   
}

/* Section 6 */
main{
    background: #F5F8FD;
}
.sec6{
  background: #F5F8FD;
  margin: 100px 170px 0 170px;
  font-family: Fredoka, sans-serif;
  font-weight: 500;

}

.imgs6{
    border: 5px solid #FFD40D;
    background: #FFD40D;
    width: 130px;
    height: 130px;
    border-radius: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.sec6img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    gap: 30px;
}

/* Section-7 */
.sec7{
   margin: 100px 170px 0 170px;
   font-family: Fredoka, sans-serif;
   font-weight: 500;
   display: flex;
   align-items: center;

}

.sec7text{
    background: #FFD40D;
    font-family: Fredoka, sans-serif;
    font-weight: 700;
    font-size: 25px;
    height: 70px;
    width: 70px;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}

.sec7imgtext{
    position: relative;
    display: flex;
}

.imgstyletext7{
    position: absolute;
    right: 80px;
    top: 40px;

}


/* Section--8 */
.sec8{
   margin: 100px 170px 0 170px;
   font-family: Fredoka, sans-serif;
   font-weight: 500; 
   border: 3px solid #FFD40D;
   border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
   gap: 20px;
}
.sec8img{
    display: grid;
    grid-template-columns: repeat(2, 240px);
    grid-template-rows: repeat(2, 150px);
    gap: 10px;
    
}

.sec8img>img{
    border-radius: 20px;
    width: 240px;
    height: 150px;
}

.sec8btn{
    border: 3px solid #F3274C;
    width: 150px;
    border-radius: 10px;
    height: 50px;
    position: relative;
}
.btn8{
    background: #F3274C;
    padding:5px 10px ;
    color: #ffffff;
    width: 145px;
    border: none;
    height: 50px;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 15px;
    position: absolute;
    left: -10px;
    transition: 1s ease;
}
.btn8:hover{
    border: 3px solid #000;
}


/* section--9 */

.sec9{
     margin: 100px 0px 0px 0px;
    background-image: url(/assets/sec9bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    font-family: Fredoka, sans-serif;
   font-weight: 700;
   color: #ffffff;
}

.s9img1{
    border: 5px solid #FFD40D; height: 200px; 
    width:200px; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; justify-content: center;
    position: relative;
}

.m1{
    top: 50px;
    left: 70px;
}
.m2{
  left: 280px;
    top: -90px;
}
.m3{
   
    left: 130px;
    bottom: 140px;
}

.m4{
    position: absolute;
    top: -285px;
    right: 200px;
    height: 100px;
    width: auto;
}
.m4t{
    position: absolute;
    top: -180px;
    right: 130px;
}

/* section 10 */
.sec10{
    margin: 50px 170px 0 170px;
    font-family: Fredoka, sans-serif;
   font-weight: 700;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

/* section 11 */

.sec11{
    margin: 100px 170px 0 170px;
    font-family: Fredoka, sans-serif;
    font-weight: 700;
}

.input1{
    width: 600px;
    border-radius: 5px;
    height: 40px;
    border: 3px solid #E4E4E4;
    margin: 10px;
}

.inputx{
    width: 290px;
    border-radius: 5px;
    height: 40px;
    border: 3px solid #E4E4E4;
    margin: 10px;

}


/* Footer */

footer{
  height: 100vh;
  width: 100%;
  margin-top:100px;
  background-color: #F5F8FD;
  position: relative;
  margin-bottom: 0px;

 
}

.footerbox{
  position: absolute;
  background:#F3274C; 
  border-radius: 10px; 
  height: 230px; width: 280px;
  top: -10px;
  left: 190px;
  padding: 10px 20px;
  font-family:Fredoka, sans-serif;
  font-weight: 700;font-size: 16px;
  color: #ffffff;
  margin-top: 100px;
}

.footer-text{
  position: absolute;
  display: flex;
  gap: 100px;
  line-height: 40px; font-weight: 600;
  font-family: Epilogue, sans-serif;
  top: -10px;
   left: 490px;
   margin-top: 100px;
}

.fth2{
  font-family:Fredoka, sans-serif;
  font-weight: 700;


}
.fth2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 200px;
  width: 70px;
  height: 5px;
  background-color: #FFC222;
  border-radius: 2px;
}

.fth2A{
  font-family:Fredoka, sans-serif;
  font-weight: 700;
}

.fth2A::after {
  content: "";
  position: absolute;
  left: 213px;
  bottom: 200px;
  width: 60px;
  height: 5px;
  background-color: #FFC222;
  border-radius: 2px;
}

.fth2B{
  font-family:Fredoka, sans-serif;
  font-weight: 700;

}

.fth2B::after {
  content: "";
  position: absolute;
  left: 400px;
  bottom: 200px;
  width: 120px;
  height: 5px;
  background-color: #FFC222;
  border-radius: 2px;
}

